@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Helvetica Neue,arial,sans-serif;
    padding-top: 70px;
}

nav {
    opacity: 0.5;
    padding-left: 120px;
    padding-right: 120px; 
    background-color: black;
}

nav:hover, div:hover {
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

div.jumbotron {
    background-color: rgba(225, 240, 245, .7);
    text-align: center;
}

h1 {
    font: normal 36px Impact, sans-serif;
}

.container, body {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.001) ), url(frontend/src/images/rearview.jpg);
    background-size: center;
    background-repeat: no-repeat;
}

.navbar-brand {
    font: bold 22px Roboto,arial,sans-serif;
}

.form-login {
    margin-top: 140px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0px 1px 1px 1px #cfcfcf;
    background-color: rgba(225, 240, 245, .7);
}

form h4 { 
    border: 0 solid #fff; 
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

input[required] {
    background-image: radial-gradient(#F00 15%, transparent 16%), radial-gradient(#F00 15%, transparent 16%);
    background-size: 1em 1em;
    background-position: right top;
    background-repeat: no-repeat;
}

img {
    max-width:  100px;
    max-height:  100px;
}

.opaque {
    opacity: 0.9;
}

.btn-primary {
  color: #fff;
  background-color: #082f6d;
  border-color: #2e6da4;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #13498e;
  border-color: #122b40;
}

.btn-primary:hover {
  color: #fff;
  background-color: #13498e;
  border-color: #204d74;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #13498e;
  border-color: #204d74;
}